footer{
    text-align: center;
    background-color: rgba(255, 192, 203, 0.453);
    color: black;
}
.footer1 p{
    font-size: 3rem;
    font-weight: bold;
    font-style: italic;
}
.footer1{
    margin: 30px;
}
.footer2{
    margin: 30px;
}
.footer2 form{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-left: 40%;
}
.footer2 form input{
    outline: none;
    width: 300px;
    border: 0;
    padding: 10px 20px;
    font-weight: bold;
    font-size: 1.3rem;
    border-radius: 5px;
}
.footer2 form button{
    width: 300px;
    border: 0;
    background-color: rgb(255, 142, 161);
    padding: 10px 20px;
    font-weight: bold;
    font-size: 1.3rem;
    border-radius: 5px;
}
.footer2 form button:hover{
    background-color: pink;
}
.footer2 form textarea{
    outline: none;
    width: 300px;
    border: 0;
    padding: 10px 20px;
    font-weight: bold;
    font-size: 1.3rem;
    border-radius: 5px;

}
.footer3{
    margin: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 30px;
    color: rgb(255, 76, 106);
}
.footer3 .bi:hover{
    color:pink;
}
.footer4 p{
    margin: 30px;
    color: orange;
    font-size: 1.3rem;
    font-weight: lighter;
}
@media (max-width:600px){
    .footer2 form{
        margin: 0 auto;
    }
}